.button {
  display: block;
  border-radius: 29px;
  padding: 4px 14px;
  color: var(--white);
  box-shadow: inset 3px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--primary-green);
  border: 2px solid var(--primary-green);
  cursor: pointer;
  font-weight: 600;
  text-wrap: nowrap;

  &:hover {
    color: var(--primary-green);
    background: transparent;
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 32px;
  }
}
