.logo {
  gap: 5px;
  align-items: center;
  display: flex;
  font-weight: 800;
  font-size: 30px;
  color: var(--color-black);
  text-wrap: nowrap;

  &:hover {
    color: var(--color-black);
  }

  &__img {
    height: 24px;
    width: 24px;
  }
}
