.logo {
  gap: 5px;
  align-items: center;
  display: flex;
  font-weight: 800;
  font-size: 30px;
  text-wrap: nowrap;

  &__link {
    color: var(--primary-green);

    &:hover {
      color: var(--primary-green);
    }
  }

  &__img {
    height: 24px;
    width: 24px;
  }
}
