.tipps-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  gap: 10px;

  &__title {
    font-weight: 600;
    font-size: 18px;
    color: var(--text-1);
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 157%;
    color: var(--text-2);
  }

  &__img {
    float:left;
    height: 16px;
    width: 16px;
  }
}
