.tipps-card {
  padding: 30px 65px;
  box-shadow: 0 10px 60px 0 rgba(38, 45, 118, 0.08);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 30px;

  &__icon {
    width: 50%;
    height: 50%;
  }
}
