.accent{
  color: var(--primary-green);
}

.bolt {
  font-weight: 800;
}

.is-scroll-disable {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
