:root {
  --primary: #f7f7f7;;
  --primary-green: #355e3b;
  --text-2: #727272;
  --secondary: #f3b86a;
  --text-1: #484848;
  --white: #f4f4f4;
  --white-main: #fefefe;
  --dark-blue: #1b1d21;

  --font-family: "Work Sans", sans-serif;
  --second-family: "Poppins", sans-serif;
  --third-family: "Lexend Tera", sans-serif;
  --font3: "Neue Machina", sans-serif;
}

$bp-desktop: 1000px;
$bp-tablet: 768px;

