.contact-section {
  padding: 4rem 0;
  text-align: center;

  &__title {
    margin-bottom: 0.5rem;
  }

  &__wrapper {
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__contact-form {
    display: flex;
    flex-direction: column;
    gap: 28px;

    label {
      display: block;
      margin-bottom: 0.25rem;
      margin-left: 5px;
      font-weight: 500;
      text-align: left;
    }
  }

  &__button {
    width: 50%;
    margin: 0 auto;
  }
}

