.hero-section {
  padding: 104px 0;
  position: relative;

  @media screen and (min-width: $bp-tablet) {
    padding: 124px 0;
  }

  &__container {
    display: flex;
    position: relative;
  }

  &__text-container {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 26px;

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
    }
  }

  &__title {
    font-family: var(--third-family);
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--primary-green);

    @media screen and (min-width: $bp-tablet) {
      font-size: 45px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 55px;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 24px;
    }
  }

  &__button {
    width: 50%;
    margin: 0 auto;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__img-container {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__image {
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;


    @media screen and (min-width: $bp-tablet) {
      background-image: url("../../public/images/hero.png");
      width: 377px;
      height: 347px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 497px;
      height: 457px;
    }
  }
}
