.hero-section {
  padding: 104px 0;
  position: relative;

  @media screen and (min-width: $bp-tablet) {
    padding: 124px 0;
  }

  &__container {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  &__title {
    font-family: var(--third-family);
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--primary-green);
    margin-bottom: 42px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 45px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 55px;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    margin-bottom: 22px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 24px;
    }
  }

  &__button {
    width: 50%;
    margin: 0 auto;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__img {
    display: none;

    @media screen and (min-width: $bp-tablet){
      width: 50%;
      display: block;
    }
  }
}
