.section {
  padding: 20px 0;
  font-family: var(--third-family);

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--primary-green);

    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      line-height: 1.3;
    }

    &--centered {
      text-align: center;
    }
  }

  &__line {
    width: 226px;
    background-image: linear-gradient(90deg, transparent, #5F5F5F, transparent);
    border: 0;
    height: 2px;
  }
}
