.tipps-section {
  &__subtitle {
    font-weight: 700;
    padding-top: 40px;
    font-size: 28px;
    text-align: center;
  }

  &__container {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-direction: row-reverse;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 40px;
  }

  &__img {
    display: none;

    @media screen and (min-width: $bp-tablet){
      width: 40%;
      display: block;
    }
  }
}
